.legend {
  position: absolute;
  top: 250px;
  width: 200px;
}

.legend-item {
  margin-bottom: 8px;
}

.legend-item > div:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #919191;
  cursor: pointer;
}